.container {
    /* border: 1px solid red; */
    display: flex;

    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}
.infobox {
    text-align: left;
    font-size: large;
    
    align-items: center;

    
    min-height: 60%;
    min-width: 20vw;
    /* width: min-content; */
    padding: 30px;
    margin: 30px;
    
    background-color: var(--color30);
}

.title {
    /* border: 1px solid red; */
    width: 100%;
    text-align: center;
}

.sidebyside {
    display: flex;
    align-items: left;
    margin-top: 20px;
    /* border: 1px solid red; */
}

.rightAlign {
    width: 100%;
    /* border: 1px solid red; */
}

.smallText {
    font-size: medium;
}

.bottomText {
    font-size: medium;
    min-height: 60%;
}